.input-wrapper {
    height: auto;
}

.form-input {
    font-size: 1.2rem;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    border: none;
    width: 60%;
    max-width: 600px;
    display: block;
    transition: width 0.3s;
}

.form-input:focus {
    outline: none;
    width: 85%;
}
