.input-wrapper {
    position: relative;
}

input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background-color: transparent;
    transition: border-color 0.2s;
}

input::placeholder {
    color: transparent;
}

.form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: gray;
}

input:focus {
    padding-bottom: 5px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(45deg, red, blue);
}
