img {
    height: 90%;
    width: auto;
    max-width: 10em;
    margin-top: 3%;
    transition: transform 0.5s;
}

a {
    height: 300px;
    width: 300px;
    max-height: 10em;
    max-width: 10em;
    margin-top: 3%;
    transition: transform 0.5s;
}

a:hover {
    transform: scale(1.1);
}

a > img {
    height: 90%;
    width: 90%;
}
